<div class="index-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="screen-area" class="col-md-10 col-md-offset-1" >
					<div id="type-area" class="col-md-12"></div>
					<div class="col-md-12 haha text-center" style="margin-top: 60px;">
						別客氣，請叫我藏頭小天才。
					</div>

					<div class="col-md-12 text-center" style="margin-top: 60px;">
						<%= image_tag("kiss.jpg", width:"250px;",class:"present") %>
						<!-- <span class="glyphicon glyphicon-gift text-pink present" aria-hidden="true"></span> -->
					</div>


					<%= audio_tag "happybirthday.mp3", class: "audio-play" %>
					<%= audio_tag "xfile.mp3", class: "audio-play2" %>
					<%= audio_tag "soga.mp3", class: "audio-play3" %>
					<%= audio_tag "conan.mp3", class: "audio-play4" %>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="audioButton triangle"></div>